BOT_TOKEN=8912212600:AAHLFgegaYp6Lp7lkR3Kecm8y51aOQNO6p4
CHANNEL_USERNAME=@beautysupplyshop
SITE_URL=https://beauty-supply.shop
ADMIN_IDS=8519523671,1761754163
GOOGLE_SHEET_ID=1483mJHyUS6k_78wPN94fxGhSb070lcNmVaYV7GyW5Vo
GOOGLE_CREDS_JSON=PUT_SERVICE_ACCOUNT_JSON_HERE